<header class="header" [class.scrolled]="isScrolled">
    <div class="header-container">

        <div class="logo">
            <a [routerLink]="['/home']">
                <img ngSrc="../../../assets/images/logo-trasp.png" alt="La Dolce Vita - Noleggio Auto" height="228"
                     width="623">
            </a>
        </div>

        <nav class="nav-links" [class.open]="isMenuOpen">
            <ul>
                <li><a [routerLink]="['/home']" fragment="home" (click)="closeMenu()">{{ 'HEADER.HOME' | translate }}</a></li>

                <li><a [routerLink]="['/home']" fragment="chi-siamo" (click)="closeMenu()">{{ 'HEADER.ABOUT' | translate }}</a></li>

                <li class="dropdown-container">
                    <a [routerLink]="['/home']" fragment="services" class="dropdown-trigger" (click)="closeMenu()">
                        {{ 'HEADER.SERVICES' | translate }} <i class="icon-arrow-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a [routerLink]="['/services/autonoleggio']" (click)="closeMenu()">{{ 'HEADER.DROPDOWN.RENTAL' | translate }}</a></li>
                        <li><a [routerLink]="['/services/veicoliCommerciali']" (click)="closeMenu()">{{ 'HEADER.DROPDOWN.COMMERCIAL' | translate }}</a></li>
                        <li><a [routerLink]="['/services/lungoTermine']" (click)="closeMenu()">{{ 'HEADER.DROPDOWN.LONG_TERM' | translate }}</a></li>
                        <li><a [routerLink]="['/services/parcoAuto']" (click)="closeMenu()">{{ 'HEADER.DROPDOWN.FLEET' | translate }}</a></li>
                        <li><a [routerLink]="['/services/autoUsate']" (click)="closeMenu()">{{ 'HEADER.DROPDOWN.USED_CARS' | translate }}</a></li>
                        <li><a [routerLink]="['/services/lavaggio']" (click)="closeMenu()">{{ 'HEADER.DROPDOWN.WASH' | translate }}</a></li>
                    </ul>
                </li>

                <li><a [routerLink]="['/home']" fragment="contatti" (click)="closeMenu()">{{ 'HEADER.CONTACT' | translate }}</a></li>
            </ul>
        </nav>

        <div class="header-actions">
            <div class="lang-switcher">
                <button (click)="changeLang('it')" [class.active]="currentLang === 'it'">IT</button>
                <span class="divider">|</span>
                <button (click)="changeLang('en')" [class.active]="currentLang === 'en'">EN</button>
            </div>

            <a routerLink="/prenota" class="btn btn-accent book-btn">{{ 'HEADER.BOOK_NOW' | translate }}</a>

            <button class="mobile-toggle" (click)="toggleMenu()" [class.active]="isMenuOpen">
                <span></span><span></span><span></span>
            </button>
        </div>

    </div>
</header>
